#!/usr/bin/env xdg-open
[Desktop Entry]
Name=MusicWatcher
Exec=python3 /your/path/musicwatcher/main.py
Icon=/your/path/musicwatcher/resources/MusicWatcher.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
