# Core UI and System
PyQt6>=6.6
psutil>=5.9.0          # Used for accurate CPU/RAM detection in core/hardware.py
plyer>=2.1.0           # Used for cross-platform desktop notifications in core/utils.py

# Metadata and Audio
mutagen>=1.47.0        # Required for reading/writing audio tags and artwork
librosa>=0.10.0        # Required for local BPM and Musical Key extraction
numpy>=1.26.0          # Required by librosa for audio math

# APIs and Network
requests>=2.31.0       # Required for MusicBrainz, Last.fm, lrclib, slskd APIs
deep-translator>=1.11  # Required for translating non-Latin album titles to English

 PyQt6-Qt6-Multimedia  # Required for the built-in audio player and 30-sec previews
 PyQt6-Qt6-DBus        # Required for Linux MPRIS2 (media keys) integration
